// src/scss/_variables.scss

:root {
  --bg-color: linear-gradient(180deg, #e7feff 0%, #ebffe7 100%);
  --text-color: #333333;
  --primary-color: #71baffd8;
  --price-color: green;
  --card-bg-color: rgba(255, 255, 255, 1);
}

// Selector ini penting! Harus menempel di html tag
[data-theme='dark'] {
  --bg-color: #333333;
  --text-color: #e0e0e0;
  --primary-color: #71baff;
  --price-color: greenyellow;
  --card-bg-color: rgba(83, 83, 83, 0.6);
}
